<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<array>
		<string>TSTT</string>
		<string>CM</string>
		<string>Adhoc</string>
		<string>Automation</string>
	</array>
</dict>
</plist>
